.gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  padding-left: 0;
  justify-items: center;
  flex-wrap: wrap;
}

.galleryItem {
  flex-basis: 25%;
  max-height: 350px;
  margin: 20px;
  overflow: hidden;
  transform: scale(1);
  transition: 0.3s;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0);
}

@media (max-width) .galleryItem:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.galleryItem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
