.gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.galleryItem {
  flex-basis: 25%;

  width: 350px;
  margin: 20px;
  overflow: hidden;
  transform: scale(1);
  transition: 0.3s;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0);
}

@media (max-width: 991px) {
  .galleryItem {
    flex-basis: 33%;
  }
}

@media (max-width: 767px) {
  .galleryItem {
    flex-basis: 50%;
  }
}
.galleryItem:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.galleryItem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
