.nav__list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding-left: 0;
  flex-wrap: wrap;
}

.nav__link {
  text-decoration: none;
  color: currentColor;
  font-weight: 600;
  font-size: 25px;
}
